* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "baskervville";
  background-color: #262626;
  width: 300px;
  height: 350px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

.title {
  font-size: xx-large;
  color: #f52936;
}

label {
  color: #cdcdcd;
}

.note {
  color: rgb(142, 144, 146);
}

.popup {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 250px;
  width: 250px;
}

.option {
  font-size: medium;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

input {
  height: 18px;
  width: 18px;
}
